.container {
  width: 700px;
  margin: auto;
  padding: 1rem;
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
  color: black;
}

label {
  margin-right: 1rem;
}

input {
  margin: 1rem 0;
}
