* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  width: 100%;
  height: 130px;
  border: 1px solid black;
  background-color: #6fd565;
}

#main {
  width: 99vw;
  height: 500px;
  margin: 10px;
  border: 1px solid black;
  background-color: aquamarine;
  position: relative;
}

.container-main {
  position: relative;
  width: 95vw;
  height: 225px;
  margin: 15px;
}

.aside {
  position: absolute;
  left: 70px;
  width: 200px;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
  background-color: #ff7070;
}

.content {
  position: absolute;
  left: 300px;
  width: 78%;
  height: 100%;
  padding: 10px;
  border: 1px solid rgb(107, 34, 242);
  background-color: darkgoldenrod;
}
