* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px 20px;
  background-color: orange;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.header .link a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 15px;
}

/* Main */
/* Section Pertama */
/* Left */
/* Layout utama */
.produk {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px auto;
  max-width: 1200px;
  gap: 40px;
}

/* Kiri */
.left {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kotak {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kotak-utama {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.kotak-kotak {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.kotak-lainnya {
  width: 100px;
  height: 100px;
  background-color: orange;
}

/* Kanan */
.right {
  width: 65%;
  line-height: 1.8;
}

.right h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

.right .harga {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 25px;
}

.opsi-warna,
.opsi-ukuran {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.opsi-warna label,
.opsi-ukuran label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* Supaya tulisan tidak terlalu mepet */
label span {
  margin-top: 5px;
  font-size: 14px;
}

/* Mengubah radio jadi kotak */
input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 4px; /* kotak, bukan bulat */
  background: white;
  transition: 0.2s;
}

input[type="radio"]:checked {
  background: orange;
  border-color: orange;
}

/* Deskripsi */
.description-produk {
  margin: 40px auto;
  max-width: 1200px;
  line-height: 1.8;
  font-size: 16px;
}
