/* Reset & Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 6rem;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #a6e0ff76;
  border-bottom: 1px solid #000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  cursor: default;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem; /* atur jarak antar ikon */
  cursor: pointer;
}

.links a {
  margin: 0 1rem;
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
}
.links a:hover {
  text-decoration: underline;
}

/* Cart */
.cart {
  display: flex;
  gap: 3rem;
  padding: 2rem;
  align-items: flex-start;
}

/* Table */
.cart-table {
  flex: 2;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #000;
  padding: 0.5rem;
  vertical-align: middle;
}

th {
  background: #f4f4f4;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image {
  width: 60px;
  height: 60px;
  background: aqua;
}

td input[type="number"] {
  width: 50px;
  text-align: center;
}

/* Summary */
.summary {
  flex: 1;
  min-width: 250px;
}

.summary div {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem 0;
}

.total {
  border-top: 2px solid #000;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

/* checkout.html */

/* Hero Section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.hero .img {
  background-color: aqua;
  width: 100px;
  height: 100px;
}
